a{
    font-weight: bold;
    font-size: 1.3rem;
    color: #261624;
}

.navbar{
    padding-left: 3em;
    padding-right: 3em;
}

.navbar{
    background-color: #f3e9f1;
}

.jumbotron{
    margin-top: 20px;
    background-color: #f3e9f1;
}

.row{
    margin: 0;
}

.container{
    background-color: red;
}

body{
    background-color: #F5DEB3;
}

.jumbotron{
    background-image: url(../images/woman-2631080_1920.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: block;
    align-items: center;
    box-sizing: initial;
}

.banner_text{
    text-align: center;
    color: white;
}

.banner_title{
    text-align: center;
    color: white;
}

.produit{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f3e9f1;
}

.produit p{
    margin-left: 70px;
    text-align: left;
    padding-top: 15px;
}

.produit img{
    min-width: 100%;
    min-height: 100%;
    justify-items: left;
}

.produit{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    position: static;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    height: 5rem;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: #F5DEB3;
}

footer p{
    margin-top: 10px;
    color: black;
}

footer img{
    height: 35px;
    width: 250px;
}