a{
    font-weight: bold;
    font-size: 1.3rem;
    color: #261624;
}

.navbar{
    padding-left: 3em;
    padding-right: 3em;
}

.navbar{
    background-color: #f3e9f1;
}

.jumbotron{
    margin-top: 20px;
    background-color: #f3e9f1;
}

.row{
    margin: 0;
}

.container{
    background-color: red;
}

body{
    background-color: #F5DEB3;
}

.produit{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f3e9f1;
}

.produit img{
    min-width: 100%;
    min-height: 100%
}

.produit{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
}