@charset "UTF-8";
a {
  font-weight: bold;
  font-size: 2rem;
  color: #261624; }

.navbar {
  padding-left: 2em;
  padding-right: 2em;
  background-color: #f3e9f1;
  font-family: "Fredoka One", cursive;
  display: flex;
  font-size: 6rem;
  justify-content: space-between;
  content: none; }

.navbar::after, .navbar::before {
  content: none; }

.navbar-brand {
  height: auto; }

.navbar img {
  margin: auto;
  float: left; }

.navbar ul {
  align-items: right; }

.nav-item {
  margin-right: 1rem; }

.row {
  margin: 0; }

.cam {
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  max-width: 47%; }

.card {
  min-width: 100%;
  background-color: white;
  margin-bottom: 10px; }

.card-title {
  font-size: 2rem; }

.card-title, .card-price {
  font-weight: bold; }

body {
  background-color: #FFC083;
  padding-bottom: 80px; }

#produits::before, #produits::after {
  content: none; }

#produits {
  padding-bottom: 82em; }

.footer {
  display: flex;
  flex-direction: row;
  background-color: #f3e9f1;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  bottom: 0; }

footer p {
  margin-top: 10px;
  color: black;
  font-family: "Fredoka One", cursive;
  font-weight: bold; }

footer img {
  height: 35px;
  width: 250px; }

#detailproduits {
  padding-left: 60px;
  padding-right: 60px; }

#image {
  padding-top: 50px;
  padding-bottom: 50px; }

#addPanier {
  margin-top: 25px; }

#quantity {
  margin-top: 25px; }

.card-text {
  margin-bottom: 25px; }

#lenses {
  margin-bottom: 25px;
  width: 151px; }

#prix {
  font-weight: bold;
  color: black;
  font-size: 1.5em; }

#addPanier {
  margin-bottom: 40px;
  background-color: #337ab7;
  color: white;
  font-size: 1em; }

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #FFC083;
  color: #000000; }

.recappanier {
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px; }

ul {
  list-style: none;
  margin-bottom: 0px; }

#buttonSubmit, button.cart_button_clear {
  display: inline-block;
  background: #0e8ce4;
  color: white;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

#continueCommand {
  margin-right: 0; }

#buttonSubmit {
  margin-top: 70px;
  margin-right: 33px; }

#formulaire-validation {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px; }

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px; }

.button:hover {
  opacity: 0.8; }

.order_total {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff; }

.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px; }

.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px; }

.cart_buttons {
  margin-top: 30px;
  text-align: right; }

.cart_button_clear {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: solid 1px #b2b2b2;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  margin-right: 26px; }

.cart_button_clear:hover {
  border-color: #0e8ce4;
  color: #0e8ce4; }

.cart_button_checkout {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  vertical-align: top; }

#total {
  padding-left: 30px;
  padding-right: 30px; }

.order_total_content {
  float: right; }

.textquantité {
  text-align: center; }

#validation-commande {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px; }

#validation-commande p {
  margin-left: 15px; }

.titleConfirm {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 15px; }

/* -------- Responsive -------- */
@media only screen and (max-width: 863px) {
  .cam {
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0; }

  .photoproduit {
    width: 150px;
    height: 100px; }

  #produits {
    padding-bottom: 132em; } }
@media only screen and (max-width: 768px) {
  .navbar {
    padding-left: 1em;
    padding-right: 1.5em;
    font-size: 2rem; }

  .navbar-nav {
    padding-top: 7px; }

  footer img {
    width: 150px;
    height: 25px; }

  #produits {
    padding-bottom: 139em; }

  #formulaire-validation {
    padding-left: 0px;
    padding-right: 0px; }

  #total {
    padding-left: 15px;
    padding-right: 15px; } }
@media only screen and (max-width: 500px) {
  #detailproduits {
    padding-left: 20px;
    padding-right: 20px; }

  .photoproduit {
    width: 80px;
    height: 60px; }

  .footer {
    padding-left: 20px;
    padding-right: 20px; }

  .footer img {
    width: 110px;
    height: 18px; }

  .footer p {
    font-size: 0.9em; }

  #produits {
    padding-bottom: 145em; }

  #formulaire-validation {
    padding-left: 0px;
    padding-right: 0px; }

  #total {
    padding-left: 15px;
    padding-right: 15px; } }

/*# sourceMappingURL=main.css.map */
