a{
    font-weight: bold;
    font-size: 1.3rem;
    color: #261624;
}

.navbar{
    padding-left: 3em;
    padding-right: 3em;
}

.navbar{
    background-color: #f3e9f1;
}

.jumbotron{
    margin-top: 20px;
    background-color: #f3e9f1;
}

.row{
    margin: 0;
}

.cam{
    align-items: center;
}

.card{
    margin-top: 40px;
    min-width: 100%;
    align-items: center;
}

.col-6{
    align-items: center;
}

.card{
    width: 18rem;
}

body{
    background-color: #FFC083;
}

.jumbotron{
    background-image: url(../images/woman-2631080_1920.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: block;
    align-items: center;
    box-sizing: initial;
}

.banner_text{
    text-align: center;
    color: white;
}

.banner_title{
    text-align: center;
    color: white;
}

.produit{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f3e9f1;
}

.produit p{
    margin-left: 70px;
    text-align: left;
    padding-top: 15px;
}

.produit img{
    min-width: 100%;
    min-height: 100%;
    justify-items: left;
}

.produit{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    position: static;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    height: 5rem;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: #F5DEB3;
}

footer p{
    margin-top: 10px;
    color: black;
}

footer img{
    height: 35px;
    width: 250px;
}

// page produit 

#detailproduits{
    padding-left: 60px;
    padding-right: 60px;
}

#image{
    padding-top: 50px;
    padding-bottom: 50px;
}

//PAGE PANIER


body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #FFC083;
    color: #000000
}

ul {
    list-style: none;
    margin-bottom: 0px
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.cart_section {
    width: 100%;
    padding-top: 10px;
}

.cart_title {
    font-size: 30px;
    font-weight: 400;
    padding-left: 120px;
    padding-top: 20px;
}

.cart_items {
    margin-top: 8px;
}

.cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px
}

.cart_item_image {
    width: 133px;
    height: 133px;
    float: left
}

.cart_item_image img {
    max-width: 100%
}

.cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px
}

.cart_item_name {
    margin-left: 4%;
}

.cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.cart_item_text {
    font-size: 18px;
    margin-top: 35px
}

.cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px)
}

.cart_item_price {
    text-align: right
}

.cart_item_total {
    text-align: right
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px
}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
}

.cart_buttons {
    margin-top: 30px;
    text-align: right
}

.cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px
}

.cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4
}

.cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top
}

#formulaire-validation{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}

#total{
    padding-left: 120px;
    padding-right: 120px;
}